@charset "UTF-8";

/* main common -S */
.sec{ 
    min-width: 1280px; 
    padding: 170px 0 110px; 
  }
  .sec-header > .tit {
    display: inline-block;
    margin-right: 30px;  
    font-weight: 800; font-size: 60px; line-height: 60px;
  }
  .sec-header > .tit > strong { color:#e02d3c;}
  .sec-header > .description {
    display: inline-block;
    margin: 14px auto 75px; 
    font-weight: 700; font-size: 24px; line-height: 22px; color: #333;
  }
  .sec-header > .description > strong { color: #fd6f0a;}
   /* main common -E */
.big-visual-wrap {
  width: 100%;
  background-color: #000;
}
.big-visual-content {
  width: 100%; height: 860px;
  opacity: 0.7;
}

/*  */
.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.mySwiper {
  width: 490px; height: 300px; 
  border: 10px solid #ff0; 
  box-sizing: border-box;
}
.mySwiper2 {width: 567px; height: 491px;}

.swiper-button-next::after { color:#fff; transition:all 0.3s; animation: heart-beat 1.5s infinite;}
.swiper-button-next:hover::after { transform: scale(1.2);}

@keyframes heart-beat{
  0%{ transform: scale(1);}
  50%{ transform: scale(1.3);}
  100%{ transform: scale(1);}

}




